

img {
    height: 150px;
    width: 150px;
    
}

.black {
    color: red;
    text-align: center;
}

.fightBoxes {
    height: 450px;
    margin: auto;
}

.theAttack,
.theReset {
    font-size: 30px;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fightZone {
    height: 250px;
}

.narration {
    display: block;
    margin: auto;
    text-align: center;
    color: greenyellow;
}

.enemy {
    background-color: firebrick;
    color: whitesmoke;
}

.hero {
    background-color: green;
    color: whitesmoke;
}

.centerThis {
    text-align: center;
    color: yellow;
}

#playerPrompt {
    padding: 20px;
    text-transform: uppercase;
}



