img {
    height: 150px;
    width: 150px;
}

.black {
    background-color: black;
    color: aliceblue;
    text-align: center;
}

.fightBoxes {
    height: 450px;
    margin: auto;
    color: white;
    background-color: grey;

}

.theAttack,
.theReset {
    font-size: 30px;
}

button {
    margin: auto;
}




